//colors
$first_color: #1E2D3B;
$second_color: #2e3a46;
$third_color: #2f3a46;
$fourth_color: #5c6066;
$fifth_color: #fff;

//typography
$font_family:'Lato', sans-serif;
$h2_fontsize: 20px;
$autore_fontsize: 18px;
